### **1 - Iterate with `enumerate` instead of `range(len(x))`**

In [25]:
a = [2, 4, -8, -6]

for i in range(len(a)):
  if a[i] < 0:
    a[i] = 0

print(a)

[2, 4, 0, 0]

In [26]:
b = [2, 4, -8, -6]

for idx, num in enumerate(b):
  if num < 0:
    b[idx] = 0

print(b)

[2, 4, 0, 0]

### **2 - Use `list comprehension` instead of raw for loops**

In [27]:
c = []

for i in range(10):
  c.append(i*i)

print(c)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
d = [i*i for i in range(10)]

print(d)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

### **3 - Sort complex iterables with `sorted()`**

In [28]:
e = [6, 10, 2, 20, 18]
sorted_e = sorted(e)

print(sorted_e)

[2, 6, 10, 18, 20]

In [29]:
e = [6, 10, 2, 20, 18]
sorted_e = sorted(e, reverse=True)

print(sorted_e)

[20, 18, 10, 6, 2]

In [30]:
f = [{'name': 'Merve', 'age': 29},
     {'name': 'Erkam', 'age': 28},
     {'name': 'Tuba', 'age': 32}]

sorted_f = sorted(f, key=lambda x: x['age'])

print(sorted_f)

[{'name': 'Erkam', 'age': 28}, {'name': 'Merve', 'age': 29}, {'name': 'Tuba', 'age': 32}]

### **4 - Store unique values with `Sets`**

In [2]:
g = [1, 2, 3, 4, 5, 6, 7, 7, 7]
h = set(g)
print(h)

i = {2, 3, 5, 7, 11, 13, 17, 19}
print(i)

{1, 2, 3, 4, 5, 6, 7}
{2, 3, 5, 7, 11, 13, 17, 19}

### **5 - Save memory with `Generators`**

In [5]:
import sys

j = [i for i in range(10000)]
print(sum(j))
print(sys.getsizeof(j))

k = (i for i in range(10000))
print(sum(k))
print(sys.getsizeof(k))

49995000
87632
49995000
128

### **6 - Define default values in Dictionaries with `.get()` and `.setdefault()`**

In [7]:
l = {'item': 'football', 'price': 10.0}

count = l['count']
print(count)

KeyError: ignored

In [9]:
l = {'item': 'football', 'price': 10.0}

count = l.get('count')
print(count)

None

In [10]:
l = {'item': 'football', 'price': 10.0}

count = l.setdefault('count', 0)
print(count)
print(l)

0
{'item': 'football', 'price': 10.0, 'count': 0}

### **7 - Count hashable objects with `collections.Counter`**

In [17]:
from collections import Counter

o = [10, 10, 10, 5, 5, 2, 9, 9, 9, 9, 9, 9]
counter = Counter(o)

print(counter)
print(counter[10])
print(counter[11])

most_common = counter.most_common(1)
print(most_common)
most_common = counter.most_common(2)
print(most_common)
print(most_common[0])
print(most_common[0][0])

Counter({9: 6, 10: 3, 5: 2, 2: 1})
3
0
[(9, 6)]
[(9, 6), (10, 3)]
(9, 6)
9

### **8 - Format Strings with `f-Strings` (3.6+)**

In [19]:
name = 'Alex'
my_string = f'Hello {name}'
print(my_string)

i = 10
print(f'{i} squared is {i*i}')

Hello Alex
10 squared is 100

### **9 - Concatenate strings with `.join()`**

In [22]:
list_of_strings = ['Hello', 'my', 'friend']

# BAD!
my_string = ''
for i in list_of_strings:
  my_string += i + ' '

print(my_string)

# GOOD!
my_string_2 = ' '.join(list_of_strings)
print(my_string_2)

Hello my friend
Hello my friend

### **10 - Merge Dictionaries with** `{**d1, **d2}` **(3.5+)**

In [23]:
d1 = {'name': 'Erkam', 'age': 28}
d2 = {'name': 'Erkam', 'city': 'Istanbul'}

merged_dict = {**d1, **d2}
print(merged_dict)

{'name': 'Erkam', 'age': 28, 'city': 'Istanbul'}

### **11 - Simplify if-statement with `if x in [a, b, c]`**

In [24]:
colors = ['red', 'green', 'blue']

c = 'red'

if c == 'red' or c == 'green' or c == 'blue':
  print('is main color')

if c in colors:
  print('is main color')

is main color
is main color